@import "../../styles/common.scss";

.sectionArrivals {
  padding-top:7.5rem;
  padding-bottom: 10.12rem;
}

.arrivalsHeader {
  margin-bottom: 6.25rem;

}

.arrivalsCards {
    column-gap: 1.875rem;
      display: flex;
     justify-content: space-between;
}

/* Мобильная адаптация */
@media (max-width: 96.688rem) {
  .sectionArrivals {
    padding-top: 5rem;
    padding-bottom: 7.5rem;
  }

  .arrivalsHeader {
    margin-bottom: 3.125rem;
  }

  .arrivalsCards {
    flex-direction: column;
    column-gap: 0;
    justify-content: center;
    align-items: center;
  }
}