@import "../../styles/common.scss";
@import "../../styles/reset.scss";

.brands {
  background-color: var(--yellow);
  padding: 60px 0 55px;
  // max-width: 119.125rem;
}

.brandsList {
 display: flex;
 column-gap:120px;
 mix-blend-mode: multiply;
}