:root {
  --black: #000;
  --yellow: #EBD96B;
  --white: #FEFEFE;
  --grey: #F4F6F5;
  --greyDark: #7F7F7F;
}

.container {
  max-width: 119.125rem;
  margin: 0 auto;
  // padding: 1.875rem;
  transition: transform 0.3s ease;
  // transform-origin: center center;
}

.container.small {
  transform: scale(0.75);
  /* Устанавливаем масштаб 75% */
}

.title-2 {
  position: relative;
  color: var(--black);
  font-family: Poppins;
  font-size: 3rem;
  font-style: normal;
  font-weight: 900;
  line-height: 3.125rem;
  letter-spacing: 0.18rem;
  display: inline-block;
}

.title-2::after {
  content: "";
  position: absolute;
  
  right: 0rem;
  bottom: 0rem;
  // top: 0rem;
  width: 11.875rem;
  height: 2rem;

  background-image: url(../img/icons/decor-yellow.svg);
  background-repeat: no-repeat;
  z-index:-1;
}
