:root {
  --black: #000;
  --yellow: #EBD96B;
  --white: #FEFEFE;
  --grey: #F4F6F5;
}

.container {
  max-width: 119.125rem;
  margin: 0 auto;
  padding: 1.875rem;
  transition: transform 0.3s ease;
  transform-origin: center center;
}

.container.small {
  transform: scale(0.8);
}

@media (max-width: 119.125rem) {
  .container {
    transform: scale(0.8);
  }

  .promo__content {
    display: flex;
    column-gap: 3.688rem;
    border-radius: 3.688rem;
    background-color: var(--grey);
    position: relative;
    overflow: hidden;
  }

  .promo__text {
    font-family: Poppins;
    font-size: 6rem;
    font-style: normal;
    font-weight: 900;
    line-height: 125%;
  }

  .promo__img {
    padding-top: 4.25rem;
    padding-right: 5rem;
    flex-shrink: 0;
    // margin-left: 120px;
    align-self: flex-start;
  }

  .promo__title {
    display: block;
    color: var(--black);
    font-family: Poppins;
    font-size: 6rem;
    font-style: normal;
    font-weight: 900;
    line-height: 7.5rem;
    flex-shrink: 0;
    padding-top: 4.813rem;
    padding-left: 7.5rem;
    padding-right: 6.25rem;
  }
}