:root {
  --black: #000;
  --yellow: #EBD96B;
  --white: #FEFEFE;
  --grey: #F4F6F5;
}

.container {
  max-width: 119.125rem;
  margin: 0 auto;
  // padding: 1.875rem;
  transition: transform 0.3s ease;
  // transform-origin: center center;
}

.container.small {
  transform: scale(0.8);
}
