@import "../../styles/common.scss";
@import "../../styles/reset.scss";


.header {
  padding: 46px 0 56px;
  width: 1720px;
}

.header__row {
  display: flex;
  column-gap: 40px;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
  column-gap: 13px;
}

.header__logo span {
  color: var(--black);
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 1.2px;
}

.header__nav {
  font-family: Poppins;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.01em;
}

.header__nav ul {
 
  display: flex;
  align-items: center;
  column-gap: 65px;
}

.header__nav a {
  color: var(--black);
}

.header_nav-btn {
  align-items: center;   
  color: var(--white);
  background-color: var(--black);
  width: 150px;
  padding: 13px 22px 17px;
  border-radius: 7px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: -0.03em;
  text-align: center;
  display: flex;
}

.header_nav-btn p {
  margin-right: 1rem;
}
